

<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>index of books</title>
      <link rel="stylesheet" href="/static/css/style.css">
   </head>
   <div id="button">
      <a href="files/BEE">BEE</a>
   </div>
   <br>  </br>
   <div id="button">
      <a href="files/BME">BME</a>
   </div>
   <br>  </br>
   <div id="button">
      <a href="files/ES">ES</a>
   </div>
   <br>  </br>
   <div id="button">
      <a href="files/MATHS">MATHS</a>
   </div>
   <br>  </br>
   <div id="button">
      <a href="files/PPS">PPS</a>
   </div>
   <br>  </br>
   <script src="/static/js/script.js"></script>
   </body>
</html>

